{{!-- @TODO only show the grid when tablet-up --}}
<ul class="CaseStudies-grid u-sm-hidden">
  {{#each caseStudies as |caseStudy|}}
    {{#unless caseStudy.isHidden}}
      <li class="CaseStudies-grid-cell">
        {{#link-to 'case-studies.view' caseStudy.id}}
          {{case-study-tile
            caseStudy=caseStudy
          }}
        {{/link-to}}
      </li>
    {{/unless}}
  {{/each}}
</ul>


{{!-- @TODO on mobile show the swiper instead --}}
<div class="CaseStudies-swiper swiper-container u-md-hidden u-lg-hidden">
  <div class="swiper-wrapper">
    {{#each caseStudies as |caseStudy|}}
      {{#unless caseStudy.isHidden}}
        <div class="swiper-slide">
          {{#link-to 'case-studies.view' caseStudy.id}}
            {{case-study-tile
              caseStudy=caseStudy
            }}
          {{/link-to}}
        </div>
      {{/unless}}
    {{/each}}
  </div>

  <div class="swiper-pagination"></div>
</div>
