{{#link-to 'case-studies' class="CaseStudyTile"}}
  <div class="CaseStudyTile-wrapper">

    <figure class="CaseStudyTile-image" style="background-image: url('assets/images/clients/{{caseStudy.image}}');"></figure>
    <span class="CaseStudyTile-overlay"></span>
    <span class="CaseStudyTile-badges"></span>
    <div class="CaseStudyTile-content">
      {{caseStudy.name}}

    </div>

  </div>
{{/link-to}}