{{#link-to 'case-studies.view' caseStudy.id tagName='div' disabled=(not caseStudy.hasRoute)}}
  <h2>{{caseStudy.name}}</h2>
  <p>{{nl2br caseStudy.blurb}}</p>
  <img src="assets/images/clients/{{caseStudy.image}}">
  {{#if caseStudy.isNew}}
    NEW
  {{/if}}
  {{#if caseStudy.hasAward}}
    {{caseStudy.award}}
  {{/if}}
{{/link-to}}
