<ul class="Awards">
  {{#each awards as |award|}}
    <li class="Awards-item">
      <div class="Awards-item-icon">
        <span class="icon {{award.icon}}"></span>
      </div>
      <div class="Awards-item-description">
        <p class="strong">{{award.name}}</p>
        {{#each award.categories as |category|}}
          <p>{{category}}</p>
        {{/each}}
      </div>
    </li>
  {{/each}}
</ul>