{{#link-to "index" class="Header-logo" rel="home"}}
  <span class="u-hiddenVisually">Alphero</span>
{{/link-to}}

<nav class="Header-nav">

  <ul class="Navigation">
    <li class="Navigation-item">
      {{#link-to "what-we-do"}}What we do{{/link-to}}
    </li>
    <li class="Navigation-item">
      {{#link-to "our-people"}}Our people{{/link-to}}
    </li>
    <li class="Navigation-item">
      {{#link-to "sectors"}}Sectors{{/link-to}}
    </li>
    <li class="Navigation-item">
      {{#link-to "case-studies.overview"}}Case studies{{/link-to}}
    </li>
    <li class="Navigation-item">
      {{#link-to "contact"}}Contact{{/link-to}}
    </li>
  </ul>

</nav>