{{#if showIntro}}
<p>We’re always on the lookout for talented individuals to take on the Alphero Idol process. Please send through your CV (in PDF format) and tell us a bit about yourself, and why you want to work with us.</p>
{{/if}}

<h2>Currently seeking many awesome people</h2>
<p>We have loads of seriously good projects on right now and are looking for some awesome newbies to join our Wellington team:</p>

<ul>
  <li>Javascript developers for Wellington (junior to senior).</li>
  <li>An iOS developer with 1-3 years solid post-uni experience.</li>
  <li>Senior to lead UX or CX designer with 8-10+ years experience designing gorgeous experience for complex digital services.</li>
</ul>

<p>Ping your details through to us via our jobs form and we look forward to hearing from you.</p>
<img src="assets/images/people/p">
