<p>{{nl2br person.bio}}</p>

{{#if person.hasSocials}}
  <ul>
  {{!-- TODO: create correct links --}}
  {{#if person.social.linkedin}}
    <li><a href="https://linkedin.com/{{person.social.linkedin}}"></a></li>
  {{/if}}
  {{#if person.social.twitter}}
    <li><a href="https://twitter.com/{{person.social.twitter}}"></a></li>
  {{/if}}
  {{#if person.social.instagram}}
    <li><a href="https://instagram.com/{{person.social.instagram}}"></a></li>
  {{/if}}
  </ul>
{{/if}}
