<figure class="PersonList-person-portrait">
  <div class="PersonList-person-portrait-mask"></div>
  <div class="PersonList-person-portrait-img" style="background-image: url('{{photo}}');"></div>
</figure>
<h4 class="PersonList-person-name">{{name}}</h4>
<p class="PersonList-person-title">{{title}}</p>  