<div class="Container">

  <div class="Grid Grid--withGutter">

    <div class="Grid-cell u-width2of3">
      <h2>{{sector.name}}</h2>
      <p>{{nl2br sector.blurb}}</p>
      <ul class="Sector-logoList">
        {{#each sector.logos as |logo|}}
          {{client-logo logo=logo}}
        {{/each}}
      </ul>
      {{#link-to 'case-studies.overview' (query-params category=sector.id)}}View case studies{{/link-to}}
    </div>

    <div class="Grid-cell u-width1of3">
      {{#link-to 'case-studies.overview' (query-params category=sector.id) class="Sector-image"}}
        <img src="assets/images/sectors/{{sector.graphic}}">
      {{/link-to}}
    </div>

  </div>

</div>



