// ============
// $PRINT
// ============

@page { margin: .25cm; }

// ============
// NOT @media print styles
// ============
.u-print { display: none !important; }


// ============
// @media print styles
// ============
@media print {


  // ============
  // Helpers
  // ============
  %u-print--none { display: none !important; }
  .u-print--none {@extend %u-print--none !optional;}

  %u-print { display: block !important; }
  .u-print {@extend %u-print !optional;}

  // force a page break before an element
  .u-print-breakBefore { page-break-before: always; }


  // ============
  // H5BP print styles -inlined to avoid required HTTP connection: h5bp.com/r
  // Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
  // ============
  * {
    border-color: #cecece !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  // Enable background printing in Chrome:
  body {
    -webkit-print-color-adjust: exact;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  thead {
    display: table-header-group; // h5bp.com/t
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: .5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }


  // ============
  // Global
  // ============
  html {
    @include font-size(12px);
  }


  // ============
  // Local / site specific
  // ============
  .Container {
    max-width: none !important;
  }


  // ============
  // SVGs and Icons
  // ============
  // svg path {
  //   fill: $black !important;
  // }

} // END @media print
