// ============
// $WIP
// ============
// Keep it clean chaps

@keyframes seizure {
  from  {background:#fd4b77}
  20%   {background:#ffbd79}
  40%   {background:#514bfd}
  60%   {background:#f44bfd}
  80%   {background:#4bfdd0}
  to    {background:#fdf04b}
}

.u-seizure {
  animation-fill-mode: forwards;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-name: seizure;
  animation-timing-function: steps(5,end);
}

.JS_TODO {
  position: relative;
  box-shadow: 0 0 0 4px #f44bfd,0 0 0 8px #fdf04b,0 0 0 12px #fd4b77;
  border-radius: 5px;
  
  &::after {
    content: '#TODO';
    @include font-size(30px, 30px);
    @extend %font-extra-bold;
    @extend .u-seizure;
    position: absolute;
    display: block;
    padding: 10px;
    z-index: 200;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) rotate(-40deg);
    box-shadow: -5px 5px 0 rgba(0,0,0,.5);
  }
}