// ============
// $VARIABLES
// ============

// ============
// Colours
// ============

// Brand ============
$teal:        rgb(042,194,187);
$teal-dark:   rgb(026,164,158);
$teal-light:  rgb(181,246,244);
$charcoal:    rgb(028,033,042);
$red:         rgb(212,035,055);
$green:       rgb(100,191,000);
$blue:        rgb(000,155,180);
$orange:      rgb(255,128,000);
$pink:        rgb(252,049,089);
$purple:      rgb(094,027,082);
$navy:        rgb(032,062,085);

// Clients ============
$client-coop:         #118C3A;
$client-coop-online:  #187D3D;
$client-fonterra:     #69BC34;
$client-genesis:      #FF8628;
$client-mbie:         #00B3E5;
$client-mtf:          #F4D21C;
$client-powershop:    #A81D5F;
$client-modica:       #811519;
$client-studylink:    #3A76B8;
$client-tab:          #2C74A7;
$client-transpower:   #1FA4ED;
$client-tvnz:         #00C99E;
$client-vodafone:     #FF0D00;
$client-westpac:      #D20808;
$client-wwf:          #209DAA;

// Tones ============
$black:      #000;
$grey-dark:  #4a4a4a;
$grey-med:   #a5a5a5;
$grey-light: #eeeeee;
$border:     $grey-light;
$off-white:  #fafafa;
$white:      #fff;

// Text ============
$text:        $charcoal;
$text-light:  $grey-med;
$link:        $teal;
$active:      $teal-dark;
$highlight:   $active;

// Messages ============
$error:   $red;
$info:    $blue;
$success: $green;
$warning: $orange;

// ============
// Font variables
// ============
$base-color:        $text;
$base-font-size:    16px;
$base-font-size-sm: 14px;
$base-font-size-xs: 12px;
$base-line-height:  1.5;

// ============
// Spacing units
// ============

// General ============
// In rems – vertical & horizontal ($v & $h)
$v: $base-line-height * 1rem; // 1.5rem = 24px
$h: $v;

$header-height: 5rem; // 80px

// Page gutters ============
$mobile-gutter:     $h/2;
$desktop-gutter:    $h;
$widescreen-gutter: $h*2;

// ============
// Z-indexes
// ============
$z-0: 0;
$z-10: 10;
$z-20: 20;
