// ============
// $ALERT
// ============

// Output:
// .Alert--error { background-color: #fde8e7; color: #e41b13; }
// .Alert--error path { fill: #e41b13; }
// .Alert--info { background-color: #ebf1f9; color: #769dd8; }
// .Alert--info path { fill: #769dd8; }
// ...

.Alert {
  @extend %font-bold !optional;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  padding: $v/2 $h/2;
  display: flex;
  align-items: flex-start;
  .icon {
    @include font-size(20px);
    margin-right: $h/2;
  }
}

$alert-colours: (
  error: $error,
  info: $info,
  success: $success,
  warning: $warning
);

@mixin alerts($style) {
  $color: map-get($alert-colours, $style);
  // generate an hsl background colour as they're solid rather than transparent--in case our alerts sit on other colour backgrounds
  $hsl-color: hsl(hue($color), saturation($color), 95%);
  .Alert--#{$style} {
    background-color: $hsl-color;
    color: $color;
    path {
      fill: $color;
    }
  }
}

@include alerts(error);
@include alerts(info);
@include alerts(success);
@include alerts(warning);
