// ============
// $BUTTON
// ============

// The button classes are best applied to links, buttons, and submit inputs.
// These components can be used in forms, as calls to action, or as part of the
// general UI of the site/app.

$button-color: $white;
$button-bg-color: $purple;
$button-pressed-color: transparentize($purple, .8);
$button-disabled-opacity: 0.5;
$button-border-color: $purple;
$button-border-width: 2px;
$button-height: 40px;
$button-radius: 3px;
$button-min-width: 120px;

.Button {
  @extend %font-bold !optional;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  background-color: $button-bg-color;
  color: $button-color;
  cursor: pointer;
  height: $button-height;
  margin: 0;
  padding: 0 $h;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  white-space: normal;
  border: none;
  border-radius: $button-radius;
  box-shadow: inset 0 0 0 $button-border-width $button-border-color;
  transition: all .1s ease-in-out;
  padding-left: $h;
  padding-right: $h;
  @media #{$tablet} {
    min-width: $button-min-width;
  }
}


// Modifiers ============
.Button--secondary {
  background-color: $white;
  box-shadow: inset 0 0 0 $button-border-width $border;
  color: $purple;
}

.Button--block {
  width: 100%;
}


// UI States: Hover, Active, Focus, Disabled ============
.Button {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: none;
  }
}


// Primary ============
.Button {
  &:hover {
    background-color: $white;
    color: $button-bg-color;
  }
  &:active,
  &.is-active {
    background-color: $white;
    color: $button-bg-color;
  }
  &:disabled,
  &.is-disabled {
    cursor: not-allowed;
    background-color: $button-bg-color;
    color: $button-color;
    opacity: $button-disabled-opacity;
  }
  &.is-loading {
    cursor: not-allowed;
    background-color: $button-bg-color;
  }
}


// Secondary ============
.Button--secondary {
  &:hover {
    background-color: $off-white;
    box-shadow: inset 0 0 0 $button-border-width $grey-light;
  }
  &:active
  &.is-active {
    background-color: $border;
    box-shadow: inset 0 0 0 $button-border-width $grey-light;
  }
  &:disabled,
  &.is-disabled {
    cursor: not-allowed;
    background-color: $white;
    box-shadow: inset 0 0 0 $button-border-width $border;
    color: $purple;
    opacity: $button-disabled-opacity;
  }
}
