// ============
// $CALENDAR
// ============

$calendar-slot-margin: 5px;
$calendar-grid-size: 42px;
$calendar-slot-size: $calendar-grid-size - ($calendar-slot-margin * 2);
$calendar-width: $calendar-grid-size * 7 + 2; // +2px for left & right borders
$calendar-border-color: $grey-light;
$calendar-border-radius: 6px;

.Calendar {
  width: $calendar-width;
  header {
    @include font-size(14px, $calendar-grid-size);
    background-color: $active;
    border-top-left-radius: $calendar-border-radius;
    border-top-right-radius: $calendar-border-radius;
    color: $white;
    height: $calendar-grid-size;
    text-align: center;
  }
}

// Days of the week <ul>
.Calendar-daysOfWeek {
  background-color: $grey-light;
  margin-top: 0;

  li {
    @extend strong !optional;
    @include font-size(11px, $calendar-grid-size);
    float: left;
    height: $calendar-grid-size - 1; // -1 to compensate for 1px top border on .Calendar-month
    text-align: center;
    width: $calendar-grid-size;
  }
}

// <ol>
.Calendar-month:after {
  clear: both;
  content: "";
  display: table;
}

.Calendar-slot {
  @include font-size(14px, 34px);
  border-radius: $calendar-slot-size / 2;
  float: left;
  height: $calendar-slot-size;
  list-style: none;
  margin: $calendar-slot-margin;
  padding: 0;
  text-align: center;
  width: $calendar-slot-size;

  &.is-today {
    @extend b !optional;
    background-color: $grey-light;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-disabled {
    color: $grey-med;
  }

  &.is-selected {
    background-color: rgba($link, .1);
    color: #0172b7; // pass accessibility contrast ratio
  }
}
