.CaseStudyTile {
  @include aspect-ratio(1, 1, 'CaseStudyTile-wrapper');
  background: $charcoal;
  display: block;
  overflow: hidden;
}

// .CaseStudyTile-wrapper {

// }

.CaseStudyTile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  transform: scale(1);
  will-change: transform;

  transition: transform .8s cubic-bezier(.25,.25,.25,1);
}

.CaseStudyTile:hover {
  .CaseStudyTile-image {transform: scale(1.1);}
}