.CaseStudies {
  overflow-x: hidden;
}

.CaseStudies-grid {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: flex-start;
  
  @media #{$tablet} {
    width: calc(100% + 1px); // hide borders
  }
}

.CaseStudies-grid-cell {
  flex-shrink: 0;
  flex-basis: 100%; width: 100%;
  
  @media #{$tablet} {
    flex-basis: 50%; width: 50%;

    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
  }
  @media #{$desktop}    { flex-basis: 33.333%; width: 33.333%; }
  @media #{$widescreen} { flex-basis: 25%; width: 25%; }
}

