// =================
// $CONTENT SECTIONS
// =================
// Used to divide page content, add padding and modify colours.

// Classes available:
// =================
//  1) .Content
//     2x vertical spacing units for padding.
//
//  2) .Content--whitespace
//     4x vertical spacing units for padding.
//
//  3) .Content--dark
//     Dark background colour and white text.
//
//  4) .Content--grey
//     Off-white background colour, no text modifications.

// 1
.Content {
  padding-top: $v*2;
  padding-bottom: $v*2;
  
  &:first-child {padding-top: ($v*2) + $header-height;}
}

// 2
.Content--whitespace {
  padding-top: $v*4;
  padding-bottom: $v*4;

  &:first-child {padding-top: ($v*4) + $header-height;}
}

// 3
.Content--dark {
  color: $white;
  background-color: $charcoal;
}

// 4
.Content--grey {
  background-color: $grey-light;
}