// ================
// $FEATURED BANNER
// ================
// Used on the homepage to feature case studies and contains an instance of SwiperJS

.Featured {
  position: relative;
  overflow: hidden;

  background: $blue;  // @TODO this is gross
  height: 95vh;       // @TODO this is gross
  min-height: 640px;  // @TODO this is gross
}

.Featured-cta {
  position: absolute;
  width: 62px;
  height: 69px;
  outline: none;
  bottom: $v*2;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.8;
  transition: all .2s ease-in-out;
  will-change: opacity, transform;

  background: url("/assets/images/alphero/icon-arrow.png") no-repeat;
  @include image-2x("/assets/images/alphero/icon-arrow@2x.png", 62px, 69px);

  @include aHAF {
    opacity: 1;
    transform: translate(-50%,5px);
  }
}