// ================
// $HORIZONTAL RULE
// ================
// Since our <hr> tags are quite custom, 
// it makes sense to split it into it's own file.

.hr, hr {
  display: block;
  border: none;
  height: 3px;
  background-color: $teal;
  width: 60px;
  margin: {
    top: $v;
    bottom: $v;
    left: auto;
    right: auto;
  }

  @media #{$laptop} {
    margin: {
      top: $v*2;
      bottom: $v*2;
      left: auto;
      right: auto;
    }
  }
}