// ============
// $MODAL
// ============

// 1. Remove background page scroll
// 2. Hide/show body modal class via JS
// 3. Page jumps to top when modal is open (due to fixed positioning), so hide the sticky footer to make less weird in this regard
// 4. Centered modal if it's shorter than viewport,
//    if taller margin: auto will align modal to top and not beyond. Refer: http://stackoverflow.com/a/33455342
// 5. IE11: prevents undesired stretching heights of short modals, and backgrounds being cut off in long ones

$modal-max-width: 60rem;
$modal-border-radius: 5px;
$page-gutter: 0.5rem 1rem;

// Remove background page scroll
body.modal-is-open {
  position: fixed; // 1

  // NOTE: I don't believe the following is required (me... Reg)
  // Please remove from AINT if passes peer review
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // width: 100%;
  // height: 100%;
  // overflow: hidden;

  .Modal-wrapper { display: flex; } // 2
  .Footer { display: none; } // 3
}

// Black overlaying background
.Modal-wrapper {
  display: none; // 2
  background-color: rgba($black, .8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $z-10;
  padding: $page-gutter;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  z-index: $z-20;
}

.Modal {
  position: relative;
  background-color: $white;
  border-radius: $modal-border-radius;
  max-width: $modal-max-width;
  padding: $v $h/2 $v*.75;
  margin: auto; // 4
  align-self: flex-start; // 5
}

.Modal-close {
  position: absolute;
  top: $v/2;
  right: $h/2;
  // increase clickable area:
  padding: $v/2 $h/2;
}

.Modal-header-icon {
  margin-bottom: $v;
  // center icon
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Modal-header {
  // space for closing 'x' icon
  padding-left: $h;
  padding-right: $h;
}

.Modal-body {
  margin-top: $v;
}

.Modal-footer {
  margin-top: $v;
}


// ============
// Modifiers
// ============
.Modal--notification {
  text-align: center;
}
