// ============
// $NAVIGATION
// ============

.Navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.Navigation-item {
  flex-shrink: 0;
}

.Navigation-item a {
  @extend %font-extra-bold;
  @include font-size($base-font-size-sm, 40px);
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  display: block;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    bottom: 0;
    left: 50%;
    width: 100%;
    background-color: $white;
    opacity: 0;
    transform: translateX(-50%) translateY(-7px);
    transition: all .2s ease-in-out;
    backface-visibility: hidden;
    will-change: transform, opacity, width, height;
  }

  @include aHAF {
    &:after {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
      height: 3px;
      width: 105%;
    }
  }
}