.PersonList {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  user-select: none;
  cursor: pointer;
}

.PersonList-person {
  text-align: center;
  min-height: 400px;
  padding-left: $h/2;
  padding-right: $h/2;
  margin-bottom: $v;
  flex-shrink: 0;
  flex-basis: 100%;
  width: 100%;
  
  @media #{$tablet} {
    flex-basis: 50%;
    width: 50%;
  }

  @media #{$laptop} {
    flex-basis: 33.333333%;
    width: 33.333333%;
  }

  @media #{$desktop} {
    flex-basis: 25%;
    width: 25%;
  }

  @media #{$widescreen} {
    flex-basis: 20%;
    width: 20%;
  }
}

.PersonList-person-portrait {
  @include aspect-ratio(1, 1, 'PersonList-person-portrait-img');
  margin-bottom: $v;
}

.PersonList-person-portrait-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.PersonList-person-portrait-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.PersonList-person-name {
  margin-top: 0;
  margin-bottom: $v/2;  
  @include font-size(20px);
  @media #{$widescreen} { @include font-size(22px); }  
}

.PersonList-person-title {
  margin-top: 0;
  margin-bottom: 0;
  @include font-size(16px);
  @media #{$desktop} { @include font-size(18px); }
}