.Sector-logoList {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.Sector-logoList-item {
  margin: 10px 20px;
}