.Tabs {
  margin: 0 0 $v;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 -1px 0 $border;
}

.Tabs-item {
  @include font-size(18px, 27px);
  padding-top: $v*2;
  padding-bottom: $v;
  text-align: center;
  user-select: none;
  flex-grow: 1;
  color: $grey-med;
  // flex-basis: 20%;
  // width: 20%;
  cursor: pointer;

  // @TODO active classes
  &.is-active {
    color: $charcoal;
    box-shadow: inset 0 -1px 0 $charcoal;
  }
}