// ============
// $TOKEN
// ============

// a coloured badge with an icon on it

$token-size-lg: 5.625rem; // 90px
$token-size-md: 2.875rem; // 46px
$token-size-sm: 1.875rem; // 30px

.Token {
  @include theme(background-color);
  flex-shrink: 0;
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Token--outline {
  border: 2px solid $white;
}

.Token--lg {
  @include font-size(24px);
  width: $token-size-md;
  height: $token-size-md;

  @media #{$tablet} {
    @include font-size(40px);
    width: $token-size-lg;
    height: $token-size-lg;
  }
}

.Token--md {
  @include font-size(18px);
  width: $token-size-sm;
  height: $token-size-sm;

  @media #{$tablet} {
    @include font-size(24px);
    width: $token-size-md;
    height: $token-size-md;
  }
}
