// ============
// $TOOLTIPS
// ============

// NOTE: custom tooltips only for charts.js

// Usage:
// <div class="Tooltip Tooltip--star {{item.className}}">
//   <div class="Tooltip-body">
//     <p class="Tooltip-label">{{item.title}}</p>
//     <p class="Tooltip-data">
//       {{rating/star-rating-display
//         rating=item.value
//       }}
//     </p>
//   </div>
//   <span class="Tooltip-nib"></span>
// </div>

.ChartWrapper {
  position: relative;
  user-select: none;
}

$tooltip-color: $white;
$tooltip-caret-size: 16px;

.Tooltip {
  position: absolute;
  padding: 10px 16px;
  height: 56px;
  background: $tooltip-color;
  border-radius: 1px;
  border: 1px solid $border;
  box-shadow: 0 2px 4px 0 transparentize($grey-med, 0.5);

  .Tooltip-body {
    padding: 10px 16px;
    margin: -10px -16px;
    border-radius: 1px;
    background: $tooltip-color;
    position: relative;
    z-index: 10;
  }

  // ============
  // TOOLTIP CARET
  // ============
  .Tooltip-nib {
    z-index: 5;
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border: $tooltip-caret-size/2 solid transparent;
    transform: translate(-($tooltip-caret-size/2), 0);
  }

  // LEFT and RIGHT GENERAL ============
  &.left-center .Tooltip-nib {
    left: 0; top: 50%;
    transform: translate(-($tooltip-caret-size), -($tooltip-caret-size/2));
    border-right-color: $tooltip-color;
  }
  &.right-center .Tooltip-nib {
    left: 100%; top: 50%;
    transform: translate(0, -($tooltip-caret-size/2));
    border-left-color: $tooltip-color;
  }

  // TOP and BOTTOM GENERAL ============
  &[class*="top-"] .Tooltip-nib {
    top: -$tooltip-caret-size;
    border-bottom-color: $tooltip-color;
  }
  &[class*="bottom-"] .Tooltip-nib {
    top: 100%;
    border-top-color: $tooltip-color;
  }

  // TOP and BOTTOM CENTER ============
  &.top-center .Tooltip-nib,
  &.bottom-center .Tooltip-nib {
    left: 50%;
  }

  // TOP and BOTTOM LEFT ============
  &.top-left .Tooltip-nib,
  &.bottom-left .Tooltip-nib {
    left: 0;
    transform: none;
  }

  // TOP and BOTTOM RIGHT ============
  &.top-right .Tooltip-nib,
  &.bottom-right .Tooltip-nib {
    left: calc(100% - #{$tooltip-caret-size});
    transform: none;
  }
}

.Tooltip-label,
.Tooltip-data {
  user-select: none;
}

.Tooltip-label {
  @extend %font-bold !optional;
  @include font-size(14px,18px);
  height: 18px;
  margin: 0;
  color: $purple;
}

.Tooltip-data {
  @include font-size(16px,16px);
  height: 16px;
  margin: 0;
}


// ============
// MODIFIERS
// ============
// NOTE: James is the go-to guy for these
//
// .Tooltip--star {
//   &.node-1 {
//     top: 0px;
//     left: 50%;
//     transform: translateX(-50%);
//     .Tooltip-nib {
//       top: 100%; left: 50%;
//       border-top-color: $tooltip-color;
//     }
//   }
//   &.node-2 {
//     top: 43px;
//     right: -40px;
//     .Tooltip-nib {
//       top: 100%; left: 10px;
//       border-top-color: $tooltip-color;
//       transform: none;
//     }
//   }
//   &.node-3 {
//     top: 165px;
//     right: -40px;
//     .Tooltip-nib {
//       top: -$tooltip-caret-size; left: 10px;
//       border-bottom-color: $tooltip-color;
//     }
//   }
//   &.node-4 {
//     top: 165px;
//     left: -40px;
//     .Tooltip-nib {
//       top: -$tooltip-caret-size; left: calc(100% - 10px);
//       border-bottom-color: $tooltip-color;
//     }
//   }
//   &.node-5 {
//     top: 43px;
//     left: -40px;
//     .Tooltip-nib {
//       top: 100%; left: calc(100% - 10px);
//       border-top-color: $tooltip-color;
//     }
//   }
// }

// @NOTE: TOOLTIPS FOR THE STAR CHART
// ===================
// <div class="Tooltip Tooltip--star {{item.className}}">
//   <div class="Tooltip-body">
//     <p class="Tooltip-label">{{item.title}}</p>
//     <p class="Tooltip-data">
//       {{rating/star-rating-display
//         rating=item.value
//       }}
//     </p>
//   </div>
//   <span class="Tooltip-nib"></span>
// </div>


// @NOTE: TOOLTIPS FOR THE BAR CHART
// ===================
// <div class="Tooltip">
//   <div class="Tooltip-body">
//     <p class="Tooltip-label">
//       <div class="CountingStar-average-rating">
//         <ul class="StarRating StarRating--displayOnly u-mR-xs">
//           <li class="StarRating-node" data-state="full">
//             <span class="icon icon-star-outline u-block"></span>
//           </li>
//         </ul>
//         <span class="u-inlineBlock">{{average}}</span>
//       </div>
//     </p>
//     <p class="Tooltip-data">
//       <span class="u-inlineBlock Percent Percent--positive">12%</span>
//     </p>
//   </div>
//   <span class="Tooltip-nib"></span>
// </div>
