// ============
// $WHAT WE DO
// ============
$line-dark: #2A575B;
$line-light: #D5DFDF;

$line-width: 0.5rem; // 8px;
$horizontal-marg: 3rem; // 48px

// Default
.WhatWeDo-section {
  overflow: hidden;
}

.WhatWeDo-section-title {
  margin-top: 40px;
  margin-bottom: 0;
  position: relative;

  &::after {
    content:'';
    display: block;
    position: absolute;
    width: $line-width*3.5;
    height: $line-width*3.5;
    background: $charcoal;
    border: $line-width solid $white;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    top: 45%;
    left: -($h*2 + $line-width);

    .Vertical--right & {left: calc(100% + (#{$h}*2 + #{$line-width}));}
  }
}

.WhatWeDo-section-subtitle {
  margin-top: $v;
  margin-bottom: 0;
}

.WhatWeDo-section-description {
  margin-top: $v;
  margin-bottom: 40px;

  // matches H4:
  @include font-size(16px);
  @media #{$tablet}  { @include font-size(18px); }
  @media #{$desktop} { @include font-size(20px); }
}

.WhatWeDo-section-graphic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 120px;
  height: 120px;

  background: $teal; // TODO
}


// Dark version
.WhatWeDo-section--dark {
  background: $charcoal;
  color: $white;

  .WhatWeDo-section-title::after {
    border-color: $charcoal;
    background: $line-dark;
  }
}

@import "what-we-do-lines";