// ==========================
// $WHAT WE DO: JOURNEY LINES
// ===========================

// === PLACEHOLDERS ===
%psuedo {
  content:'';
  display: block;
  position: absolute;
}
%donut {
  @extend %psuedo;
  width: 42px;
  height: 42px;
  background: $white;
  box-shadow: inset 0 0 0 $line-width $charcoal;
  border: $line-width/1.2 solid $white;
  border-radius: 50%;
  transform: translate(-50%,-50%);
}
%left-corner {
  width: 100px;
  height: 100px;
  background: $white;
  border-top: $line-width solid $grey-light;
  border-left: $line-width solid $grey-light;
  border-top-left-radius: 30%;
  left: -($horizontal-marg+($line-width*0.5));
  top: 0;
}
%right-corner {
  width: 100px;
  height: 100px;
  background: $white;
  border-bottom: $line-width solid $grey-light;
  border-right: $line-width solid $grey-light;
  border-bottom-right-radius: 50%;
  right: -($horizontal-marg+($line-width*0.5));
  bottom: 0;
}

// === LINES ===

// Common
.Vertical,
.Horizontal {
  position: relative;
}

// Vertical line: left
.Vertical {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: $h*2 + $line-width;

  &::before {
    @extend %psuedo;
    width: $line-width;
    height: 100%;
    background: $grey-light;
    top: 0;
  }
  &:not(.Vertical--right)::before { left: -($line-width*0.5); }
  &:not(.Vertical--right)::after { left: 0; }

  // if inside a dark section
  [class*="--dark"] & {
    &::before {background: $line-dark;}
  }
}

// Vertical line: right
.Vertical--right {
  padding-left: 0;
  padding-right: $h*2 + $line-width;
  text-align: right;
  &::before {right: -($line-width*0.5);}
  &::after {left: 100%;}
}

// Vertical line: start & end
.Vertical--start {margin-top: $v*2;}
.Vertical--end {margin-bottom: $v*2;}

.Vertical--start::after,
.Vertical--end::after {
  @extend %donut;
}
.Vertical--start::after {top: 0;}
.Vertical--end::after {top: 100%;}

// Horizontal line: right-to-left
.Horizontal {
  background: $grey-light;
  height: $line-width;
  margin: 48px;

  &::before {
    @extend %psuedo;
    @extend %left-corner;
  }

  &::after {
    @extend %psuedo;
    @extend %right-corner;
  }

  // if inside a dark section
  [class*="--dark"] & {
    background: $line-dark;
    &::before, &::after { 
      background: $charcoal; 
      border-color: $line-dark;
    }
  }
}

// Horizontal line: left-to-right
.Horizontal--reverse {
  &::before {
    top: auto;
    bottom: 0;
    transform: rotate(-90deg);
  }

  &::after {
    bottom: auto;
    top: 0;
    transform: rotate(-90deg);
  }
}