// ============
// $ASPECT RATIO
// ============

// Allows you to set an aspect ratio on a div (contents need to be in a .content)

@mixin aspect-ratio($width, $height, $target_class: 'content') {
  position: relative;
  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .#{$target_class} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
