// ============
// $DEFINITION LIST COLUMNS
// ============

// NOTE – this could probably be better achieved using flex (not float)
// TODO ...if @somebody wants to refactor this when they use it, please do

@mixin dl--columns($dl-line-height: $v/4, $dl-column-width: 25%, $dl-column-width-desktop: $dl-column-width) {
	dt {
		float: left;
		clear: left;
		margin-bottom: $dl-line-height;
		width: $dl-column-width;
    @if $dl-column-width-desktop {
      @include media-query(desktop) {
        width: $dl-column-width-desktop;
      }
    }
	}

	dd {
    float: left;
		margin-bottom: $dl-line-height;
    width: calc(100% - #{$dl-column-width} - #{$h});
    @if $dl-column-width-desktop {
      @include media-query(desktop) {
        width: calc(100% - #{$dl-column-width-desktop} - #{$h});
      }
    }
	}

  dd:last-of-type,
  dt:last-of-type {
    margin-bottom: 0;
  }
}
