// ============
// $FONT SIZE / LINE HEIGHT
// ============

// e.g. @include font-size(18px, 22px);

@mixin font-size($font-size: $base-font-size, $line-height: null) {
  font-size: $font-size / $base-font-size * 1rem;  // convert px to rem
  @if $line-height != null {
    line-height: $line-height / $font-size;
  }
}
