// ============
// $HOVER ACTIVE FOCUS
// ============

// e.g.
// a.myRedLink {
// 	@include aHAF {
// 		color: red;
// 		text-decoration: underline;
// 	}
// }

@mixin aHAF {
	&.is-active, &:hover, &:active, &:focus {
		@content;
		outline: none; // presumably, if you’ve got a focus state here you don't need the outline
	}
}
