// ============
// $MEDIA QUERIES
// ============

// Usage:
// @media #{$mobile-only} {
//   ...
// }


// ============
// Ranges
// ============
// http://foundation.zurb.com

@function lower-bound($range) {
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range, 1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}


// ============
// Breakpoints
// ============
// NOTE: Breakpoints must be defined in pixels, due to Chrome's
// media-query rem always being 16px regardless of actual root em
// 1. Set minimum device size:
//    Essentially, are you building a mobile up site or just a tablet up one?
//    i.e. switch to false if the client doesn't want the site to go below tablet view.
// 2. A miniscule unit to ensure fullest no gaps between ranges
// 3. $breakpoint1 var must be defined outside of @if statement
// 4. Setting to 0 effectively disables mobile-only media query (see 1.)
$mobile-friendly: true; // 1
$infinitesimal: 0.01px; // 2
$breakpoint1: null; // 3
@if not($mobile-friendly) { $breakpoint1: $infinitesimal; } @else { $breakpoint1: 768px; } // 4
$breakpoint2: 1024px;
$breakpoint3: 1280px;
$breakpoint4: 1600px;


// ============
// Ranges
// ============
// Define the lower and upper bounds for each media size
$sm-range: (0, $breakpoint1 - $infinitesimal); // 0-767, or 0-0 if $mobile-friendly false
$sm-md-range: ($breakpoint1, $breakpoint2 - $infinitesimal); // 768-1023
$md-lg-range: ($breakpoint2, $breakpoint3 - $infinitesimal); // 1024-1279
$lg-xl-range: ($breakpoint3, $breakpoint4 - $infinitesimal); // 1280-1599
$xl-range: ($breakpoint4); // 1600+


// ============
// Queries
// ============
// NOTE the usage of "print" media types below. These may or may not be desired!
$mobile-only: "(max-width: #{upper-bound($sm-range)})" !default;
$tablet-only: "(min-width: #{lower-bound($sm-md-range)}) and (max-width:#{upper-bound($md-lg-range)})" !default;
$tablet: "print, (min-width: #{lower-bound($sm-md-range)})" !default;
$laptop-only: "(min-width: #{lower-bound($md-lg-range)}) and (max-width:#{upper-bound($lg-xl-range)})" !default;
$laptop: "(min-width: #{lower-bound($md-lg-range)})" !default;
$desktop-only: "(min-width: #{lower-bound($lg-xl-range)}) and (max-width:#{upper-bound($xl-range)})" !default;
$desktop: "(min-width: #{lower-bound($lg-xl-range)})" !default;
$widescreen: "(min-width: #{lower-bound($xl-range)})" !default;


// ============
// IE queries
// ============
// http://browserhacks.com/
// NOTE: if you want to target IE9 use conditional comments

// IE 10 & 11 ============
// TODO: can @somebody confirm this doesn't affect Edge also?
$ie: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)" !default;

// Edge ============
// TODO: can @somebody confirm this works?
// NOTE: this is for uses @support not @media query type
// e.g. @supports #{$edge} {...}
// $edge: "(-ms-ime-align:auto)" !default;
