// ============
// $RETINA BACKGROUND IMAGES
// ============
// https://signalvnoise.com/posts/3271-easy-retina-ready-images-using-scss
// http://brettjankord.com/2012/11/28/cross-browser-retinahigh-resolution-media-queries/

// e.g.
// div.logo {
//   background: url("logo.png") no-repeat;
//   @include image-2x("logo2x.png", 100px, 25px);
// }


// 1.25 dpr ============
// $dpr: 1.25;
// $dpi: 120dpi;

// 1.3 dpr ============
$dpr: 1.3;
$dpi: 124.8dpi;

// 1.5 dpr ============
// $dpr: 1.5;
// $dpi: 144dpi;

// 2.0 dpr ============
// $dpr: 2;
// $dpi: 192dpi;

@mixin image-2x($image-name, $image-width, $image-height) {
  @media
  only screen and (-webkit-min-device-pixel-ratio: $dpr),
  only screen and (min-resolution: $dpi) {
    // on retina, use image that's scaled by 2
    background-image: url($image-name);
    background-size: $image-width $image-height;
  }
}
