<!DOCTYPE html>
<html lang="en-NZ">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Alphero partners with you to craft spectacular digital outcomes.">

    <title>Mobile App Development, Digital Transformation, Proposition Design - Alphero</title>

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/alphero-website.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/alphero-website.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
