<section class="Content Content--whitespace">
  <div class="Container">
    <div class="Grid">
      <div class="Grid-cell u-width1of1">
        <h1 class="u-textCenter">We have worked with great clients over the years.<br class="u-sm-hidden u-md-hidden u-lg-inline"> View our awesome
          work below!</h1>
        <hr>
      </div>
      <div class="Grid-cell u-xl-before1of4 u-xl-width1of2">
        <p class="lead u-textCenter u-textFade u-mT-0">Have a browse of a wee selection of work we’ve completed for our even awesomer clients. Filter below by the work
          which interests you the most.</p>
      </div>
    </div>
  </div>
</section>

<div class="u-hidden">
  Testing the deployment.
</div>

<button {{action 'setCategory' null}}>All</button>
{{#each categories as |category|}}
  <button {{action 'setCategory' category.id}}>{{category.name}}</button>
{{/each}}
{{#each sectors as |sector|}}
  <button {{action 'setCategory' sector.id}}>{{sector.name}}</button>
{{/each}}

{{case-study-layout
  caseStudies=caseStudies
}}

<h1>Our clients</h1>
{{#each clients as |client|}}
  {{client-logo name=client.name logo=client.logo}}
{{/each}}