// ============
// $BLEED
// ============


// Bleed ============
%bleed {
  margin-left: -#{$mobile-gutter} !important;
  margin-right: -#{$mobile-gutter} !important;
  @media #{$tablet} {
    margin-left: -#{$desktop-gutter} !important;
    margin-right: -#{$desktop-gutter} !important;
  }
}
.bleed { @extend %bleed !optional; }


// Bleed mobile only ============
%bleed-mobile {
  @media #{$mobile-only} {
    margin-left: -#{$mobile-gutter} !important;
    margin-right: -#{$mobile-gutter} !important;
  }
}
.bleed-mobile { @extend %bleed-mobile !optional; }
