// ============
// $CONTAINER
// ============

$fixed-breakpoints: true;

%Container {
  @extend %gutter !optional;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @if $fixed-breakpoints == true {
    @media #{$tablet} { width: rem($breakpoint1); }
    @media #{$laptop} { width: rem($breakpoint2); }
    @media #{$desktop} { width: rem($breakpoint3); }
    @media #{$widescreen} { width: rem($breakpoint4); }
  }
}

.Container { @extend %Container !optional; }
