.Footer {
  background: $charcoal;
  color: $white;
  padding: $v $h;
  text-align: center;
}

.Footer-copyright {
  margin: 0;
  @include font-size(14px, 21px);
  
  @media #{$tablet} {
    @include font-size(16px, 24px);
    
    br {display: none;}
  }
}