// ============
// $GUTTER
// ============

%gutter {
  padding-left: $mobile-gutter;
  padding-right: $mobile-gutter;
  @media #{$tablet} {
    padding-left: $desktop-gutter;
    padding-right: $desktop-gutter;
  }
  @media #{$widescreen} {
    padding-left: $widescreen-gutter;
    padding-right: $widescreen-gutter;
  }
}
.gutter { @extend %gutter !optional; }
