
.Header {
  @extend %gutter !optional;
  background-color: transparentize($black, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color .2s ease-in-out;
  z-index: $z-20;

  &:hover {
    background-color: transparentize($black, 0.5);
  }
}

.Header-logo {
  display: block;
  width: 150px;
  height: 40px;
  outline: none;
  
  background: url("/assets/images/alphero/logo-horizontal.png") no-repeat;
  @include image-2x("/assets/images/alphero/logo-horizontal@2x.png", 150px, 40px);
}

.Header-logo,
.Header-nav {
  flex-shrink: 0;
}