// ============
// $LAYOUT – SITE-SPECIFIC
// ============
html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0;

}

body > .ember-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Main {
  flex-grow: 1;
}

.Header,
.Footer {
  flex-shrink: 0;
}