{{!-- NOTE: Use this template for generic case studies which all share the same overall layout structure. This default will be used for any case study which doesn't have a "component" defined in its data --}}
{{case-studies/shared/some-banner
  title=caseStudy.name
  text=caseStudy.blurb
}}
