{{!-- NOTE: This is an example custom case study component --}}

{{!-- Can have custom HTML or components --}}
<p>Metservice custom case study component</p>

{{!-- Can have shared sub components too --}}
{{case-studies/shared/some-banner
  title=caseStudy.name
  text=caseStudy.blurb
}}

{{!-- basically use these files to "compose" each case study --}}
