// ============
// $FONTS
// ============

// Avenir ============
@font-face {
  font-family: "Avenir Light";
  src: local("💎"), url("/assets/fonts/AvenirLTStd-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$font-stack-light: "Avenir Light", Arial, "Helvetica Neue", Helvetica, sans-serif;

@font-face {
  font-family: "Avenir Book";
  src: local("💎"), url("/assets/fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$font-stack-book: "Avenir Book", Arial, "Helvetica Neue", Helvetica, sans-serif;

@font-face {
  font-family: "Avenir Black";
  src: local("💎"), url("/assets/fonts/AvenirLTStd-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$font-stack-black: "Avenir Black", Arial, "Helvetica Neue", Helvetica, sans-serif;

@font-face {
  font-family: "Avenir Heavy";
  src: local("💎"), url("/assets/fonts/AvenirLTStd-Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$font-stack-heavy: "Avenir Heavy", Arial, "Helvetica Neue", Helvetica, sans-serif;
