// ============
// $ICONS
// ============

// Usage
// CSS:
// .my-element:before {
//   @extend %icon !optional;
//   @extend .icon-close !optional;
//   ...
// }
// HTML:
// <i class="icon icon-close"></i>

@font-face {
  font-family: 'icons';
  src: url('/assets/glyphs/icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// NOTE: Extend a %placeholder selector here, to avoid having .icon @extended every time we add styles to a .icon within a component
%icon {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.icon { @extend %icon !optional;}


// Icomoon .icon- content values ============
.icon-play:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e904";
}
