// ============
// $NATURALIZE
// ============

// ============
// Apply a natural box layout model to all elements, but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html { box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit;
}


// ============
// Remove iOS Safari's default colour for active elements
* { -webkit-tap-highlight-color: transparentize($white, 1); }


// ============
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css// ============ */
// ============

// ============
// 1. Prevent adjustments of font size after orientation changes in IE and iOS.
html {
  -ms-text-size-adjust: 100%; // 1
  -webkit-text-size-adjust: 100%; // 1
}


// ============
// Remove the margin in all browsers
body { margin: 0; }


// ============
// Correct the margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1 {
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}


// ============
// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.
hr {
  box-sizing: content-box; // 1
  overflow: visible; // 2
}


// ============
// 1. Remove the gray background on active links in IE 10.
// 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
a {
  background-color: transparent; // 1
  -webkit-text-decoration-skip: objects; // 2
}


// ============
// Remove the outline on focused links when they are also active or hovered
// in all browsers (opinionated).
a:active,
a:hover {
  outline-width: 0;
}


// ============
// 1. Remove the border on images inside links in IE 10-.
// 2. Don't allow images to overflow their content
img {
  border-style: none; // 1
  max-width: 100%; // 2
}


// ============
// Hide the overflow in IE.
svg:not(:root) { overflow: hidden; }


// ============
// Forms
// 1. Change the font styles in all browsers (opinionated).
// 2. Remove the margin in Firefox and Safari.
button,
figure,
input,
optgroup,
select,
textarea {
  font-style: normal;
  font-size: 100%; // 1
  line-height: 1.15; // 1
  margin: 0; // 2
}


// ============
// Show the overflow in IE.
// 1. Show the overflow in Edge.
button,
input {
  overflow: visible; // 1
}


// ============
// Remove the inheritance of text transform in Edge, Firefox, and IE.
// 1. Remove the inheritance of text transform in Firefox.
button,
select {
  text-transform: none; // 1
}


// ============
// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
button,
html [type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2
}


// ============
// Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


// ============
// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


// ============
// Remove the default vertical scrollbar in IE.
textarea { overflow: auto; }


// ============
// 1. Add the correct box sizing in IE 10-.
// 2. Remove the padding in IE 10-.
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; // 1// ============
  padding: 0; // 2// ============
}


// ============
// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


// ============
// 1. Correct the odd appearance in Chrome and Safari.
// 2. Correct the outline style in Safari.
[type="search"] {
  -webkit-appearance: textfield; // 1// ============
  outline-offset: -2px; // 2// ============
}


// ============
// Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


// ============
// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
::-webkit-file-upload-button {
  -webkit-appearance: button; // 1// ============
  font: inherit; // 2// ============
}
