// ============
// $TYPOGRAPHY
// ============

// === Selectors ============
%font-light {
  font-family: $font-stack-light;
  font-style: normal;
  font-weight: normal;
}
%font-medium {
  font-family: $font-stack-book;
  font-style: normal;
  font-weight: normal;
}
%font-bold {
  font-family: $font-stack-heavy;
  font-style: normal;
  font-weight: normal;
}
%font-extra-bold {
  font-family: $font-stack-black;
  font-style: normal;
  font-weight: normal;
}


// === Text highlight color ============
::selection { background: $highlight; color: $white; }
::-moz-selection { background: $highlight; color: $white; }


// === Defaults ============
html {
  @extend %font-medium !optional;
  @include font-size($base-font-size);
  line-height: $base-line-height;
  color: $base-color;
  // Better Font Rendering
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// === Headings ============
// Note: This has been carefully setup to work responsively, edit values at your own risk.
.h1, .h2, .h3, .h4, .h5, .h6, .lead { line-height: 1.26 }
.h1, .h2, .h3, .h4 { @extend %font-extra-bold !optional; }
.h5, .h6 { @extend %font-bold !optional;}

.h1 { 
  @include font-size(30px);
  @media #{$tablet}     { @include font-size(32px); }
  @media #{$desktop}    { @include font-size(44px); }
  @media #{$widescreen} { @include font-size(50px); }
}
.h2 {
  @include font-size(24px);
  @media #{$tablet}     { @include font-size(26px); }
  @media #{$desktop}    { @include font-size(30px); }
  @media #{$widescreen} { @include font-size(34px); }
}
.h3 {
  @include font-size(18px);
  @media #{$tablet}     { @include font-size(22px); }
  @media #{$desktop}    { @include font-size(28px); }
  @media #{$widescreen} { @include font-size(32px); }
}
.h4 {
  @include font-size(16px);
  @media #{$tablet}     { @include font-size(18px); }
  @media #{$desktop}    { @include font-size(22px); }
  @media #{$widescreen} { @include font-size(26px); }  
}
.h5 {
  @include font-size(14px);
  @media #{$tablet}     { @include font-size(16px); }
  @media #{$desktop}    { @include font-size(18px); }
  @media #{$widescreen} { @include font-size(22px); }  
}
.h6 {
  @include font-size(12px);
  @media #{$tablet}     { @include font-size(14px); }
  @media #{$desktop}    { @include font-size(16px); }
  @media #{$widescreen} { @include font-size(18px); }  
}


// === Special Headings ============
// LEAD: Large heading in a thin font, usually used with grey text color.
.lead {
  @extend %font-light !optional;

  @include font-size(22px);
  @media #{$tablet}  { @include font-size(24px); }
  @media #{$desktop} { @include font-size(30px); }
}
// FINEPRINT: Extra small capitalised text, usually used for legal text.
.fineprint {
  @extend %font-bold !optional; 
  @include font-size(12px, 17px); 
  letter-spacing: 0.010rem; 
  text-transform: uppercase; 
  color: $text-light;
}


// === Paragraphs etc. ============
.p { @include font-size(16px, 24px); }
.small { @include font-size(14px, 20px); }


// === Links ============
// Note: This will avoid wrapping phone numbers onto multiple lines.
[href="tel"] { white-space: nowrap; }


// =================
// EXTEND EVERYTHING
// =================
h1 { @extend .h1 !optional; }
h2 { @extend .h2 !optional; }
h3 { @extend .h3 !optional; }
h4 { @extend .h4 !optional; }
h5 { @extend .h5 !optional; }
h6 { @extend .h6 !optional; }

p { @extend .p !optional; }
small { @extend .small !optional; }

em, i { font-style: italic; }
strong,b { @extend %font-bold !optional; }

ul { list-style-type: disc; }
ol { list-style: decimal; }

sub,
sup {
  @include font-size($base-font-size-sm);
  line-height: 0;
}
