// ============
// $RESPONSIVE
// ============


// Full width ============
@media #{$mobile-only} {
  .u-sm-widthFull { width: 100% !important; }
}

%u-widthFull { width: 100% !important; }
.u-widthFull { @extend %u-widthFull !optional; }


// Max width ============
// stretch image, but not beyond natural full dimensions
%u-maxWidthFull { max-width: 100% !important; }
.u-maxWidthFull { @extend %u-maxWidthFull !optional; }
