<h1>Contact</h1>
{{hiring-details showIntro=false}}

{{!-- NOTE: When making changes to this form, reflect the changes in _netlify_forms.html as well, or the form won't be processed correctly --}}
{{!-- TODO: Use the AJAX form submissions approach, see https://www.netlify.com/docs/form-handling/, so we don't need the thank you page, and we don't show Netlify's generic thank you page --}}
<form name="contact" method="post" action="/thank-you">
  <input type="hidden" name="form-name" value="contact" />
  <p class="u-hiddenVisually">
    <label>Don’t fill this out: <input name="bot-field"></label>
  </p>
  <p>
    <label>Name: <input type="text" name="name"></label>
  </p>
  <p>
    <label>Email: <input type="text" name="email"></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
