<section class="Featured">
  {{!-- @TODO need to implement swiperJS here, not a priority for now --}}
  <a href="#intro" class="Featured-cta">
    <span class="JS_TODO">
      <span class="u-hiddenVisually">scroll down</span>
    </span>
  </a>
</section>

<section class="Content Content--whitespace" id="intro">
  <div class="Container">
    <h1 class="u-textCenter">Alphero partners with you<br> to craft spectacular digital outcomes</h1>
  </div>
</section>

<section class="CaseStudies">
  {{case-study-layout
    caseStudies=caseStudies
  }}
</section>

<section class="Content Content--dark">
  <div class="Container">

    <blockquote class="Quote">
      <span class="Quote-icon"></span>
      <p class="lead">"Best banking app. Ever. Amazingly easy to use on phone or tablet. Well done coop bank!"</p>
      <hr>
      <p class="small">Co-operative Banking app review by David Hay</p>
    </blockquote>

  </div>
</section>

{{!-- <section class="Content Content--whitespace">
  <div class="Container">
    <h1>H1 - We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile.</h1>
    <h2>H2 - We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile.</h2>
    <h3>H3 - We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile.</h3>
    <h4>H4 - We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile.</h4>
    <h5>H5 - We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile.</h5>
    <h6>H6 - We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile.</h6>
    <p class="lead">Lead - We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile.</p>
    <p>Paragraph - We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile.</p>
    <p class="small">Small - We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile.</p>
    <p class="fineprint">Fineprint - We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile. We are helping the world make the leap to mobile.</p>
  </div>
</section> --}}
