<section class="Content Content--whitespace Content--dark">
  <div class="Container">
    <div class="Grid">
      <div class="Grid-cell u-width1of1">
        <h1 class="u-textCenter">With offices in Wellington and Auckland, <br class="u-sm-hidden u-md-hidden u-lg-inline">Alphero has gathered an awesome team.</h1>
        <hr>
      </div>
    </div>
  </div>
</section>

<section class="Content Content--grey">
  <div class="Container">
    <div class="Grid">
      <div class="Grid-cell u-width1of1">
        <p class="lead u-textFade u-textCenter">With offices in Wellington and Auckland, Alphero has gathered an awesome team of the smartest mobile experts, digital strategists, UX specialists, designers and multi-platform developers to deliver award-winning results.</p>
      </div>
    </div>
  </div>
</section>

<section class="Content">
  <div class="Container">
    <div class="Grid">
      <div class="Grid-cell u-width1of1">
        <h2 class="u-textCenter u-mB-lg">Meet the team</h2>

        <div class="JS_TODO">
        {{!-- Needs .is-active classes --}}
        
        <ul class="Tabs">
          <li class="Tabs-item is-active" {{action 'setCategory' null}}>Everyone</li>
          {{#each categories as |category|}}
            <li class="Tabs-item" {{action 'setCategory' category.id}}>{{category.name}}</li>
          {{/each}}
        </ul>

        </div>

        <ul class="PersonList">
          {{#each people as |person|}}
            {{person-summary
              name=person.name
              title=person.title
              photo=(concat "assets/images/people/" person.photo)
              click=(action "setActivePerson" person)
            }}
            {{#if (and person.showHiring (not category))}}
              {{person-summary
                class="PersonList-person--hiring"
                name="We're hiring!"
                title="Come work for us"
                photo="assets/images/alphero/hiring.png"
                click=(action "toggleNowHiringDetails")
              }}
            {{/if}}
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
</section>


{{#if activePerson}}
  {{#side-bar
    close=(action "setActivePerson" null)
    title=activePerson.name
    summary=activePerson.title
    image=(concat "assets/images/people/" activePerson.photo)
  }}
    {{person-details person=activePerson}}
  {{/side-bar}}
{{/if}}

{{#if showHiring}}
  {{#side-bar
    close=(action "toggleNowHiringDetails")
    title="We're hiring!"
    summary="Come work for us"
    image="assets/images/alphero/hiring.png"
  }}
    {{hiring-details showIntro=true}}
  {{/side-bar}}
{{/if}}

{{!-- {{#each people as |person|}}
  {{person-summary
    name=person.name
    title=person.title
    photo=(concat "assets/images/people/" person.photo)
    click=(action "setActivePerson" person)
  }}
  {{#if (and person.showHiring (not category))}}
    {{person-summary
      name="We're hiring!"
      title="Come work for us"
      photo="assets/images/alphero/hiring.png"
      click=(action "toggleNowHiringDetails")
    }}
  {{/if}}
{{/each}} --}}


{{global-awards awards=awards}}