<section class="Content Content--whitespace">
  <div class="Container">
    <div class="Grid">
      <div class="Grid-cell u-width1of1">
        <h1 class="u-textCenter">We work across multiple sectors</h1>
        <hr>
      </div>
      <div class="Grid-cell u-xl-before1of4 u-xl-width1of2">
        <p class="lead u-textCenter u-textFade u-mT-0">Over the years we’re proud to say we’ve worked across many sectors, building meaningful and beautiful apps and mobile led websites.</p>
      </div>
    </div>
  </div>
</section>

{{#each sectors as |sector|}}
  <section class="Content {{if sector.greyBackground 'Content--grey'}}">
    {{sector-summary sector=sector}}
  </section>
{{/each}}
