<section class="Content Content--whitespace Content--dark">
  <div class="Container">
    <div class="Grid">
      <div class="Grid-cell u-width1of1">
        <h1 class="u-textCenter">We like to make the things <br class="u-sm-hidden u-md-hidden u-lg-inline">that people use everyday.</h1>
        <hr>
      </div>
    </div>
  </div>
</section>

<section class="WhatWeDo">

  <section class="WhatWeDo-section">
    <div class="Container">
      <div class="Grid">
        <div class="Grid-cell u-md-width1of2 u-md-after1of2">
          <div class="Vertical Vertical--right Vertical--start"></div>
          <div class="Horizontal">
            <figure class="WhatWeDo-section-graphic">
              <!-- image tag here -->
            </figure>
          </div>
        </div>
        <div class="Grid-cell u-md-width2of3 u-md-after1of3">
          <div class="Vertical">
            <h2 class="WhatWeDo-section-title">Strategy and proposition design</h2>
            <p class="WhatWeDo-section-subtitle lead">We do brilliant, achievable strategies that transform businesses to meet current and emerging digital and mobile customer needs.</p>
            <p class="WhatWeDo-section-description">Strategies are brought to life with beautiful visualisations and prototypes that inspire business stakeholders and bring them on the journey. We don’t just show a gleaming view of the future – we provide the pragmatic frameworks, roadmaps, plans, funding models and cultural insights required to make it happen in your business. Our smart, fresh thinking solves hard business problems.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="WhatWeDo-section WhatWeDo-section--dark">
    <div class="Container">
      <div class="Grid">
        <div class="Grid-cell u-md-width1of2">
          <div class="Vertical"></div>
          <div class="Horizontal Horizontal--reverse">
            <figure class="WhatWeDo-section-graphic">
              <!-- image tag here -->
            </figure>
          </div>
          <div class="Vertical Vertical--right">
            <h2 class="WhatWeDo-section-title">Design and user experience</h2>
            <p class="WhatWeDo-section-subtitle lead">Our design team excels at making data and business logic look beautiful through interactive experiences and visual overlays.</p>
            <p class="WhatWeDo-section-description">Our designers work collaboratively with our clients to tease out vision, user experiences, jointly build working prototypes with the developer team and follow through the delivery stream with incremental enhancements to ensure the end result is exactly as it is meant to be.</p>
          </div>
          <div class="Grid-cell u-md-before1of2 u-md-width1of2">
            <div class="Horizontal"></div>
            <div class="Vertical"></div>
          </div>
        </div>
        <div class="Grid-cell u-md-width1of2">
          <div class="JS_TODO">IMAGE HERE</div>
        </div>
      </div>
    </div>
  </section>

  <section class="WhatWeDo-section">
    <div class="Container">
      <div class="Grid">
        <div class="Grid-cell u-md-width1of2 u-md-after1of2">
          <div class="Grid-cell u-md-width1of2">
            <div class="Vertical Vertical--right"></div>
            <div class="Horizontal">
              <figure class="WhatWeDo-section-graphic">
                <!-- image tag here -->
              </figure>
            </div>
          </div>
        </div>
        <div class="Grid-cell u-md-width2of3 u-md-after1of3">
          <div class="Vertical">
            <h2 class="WhatWeDo-section-title">Technology architecture and integration</h2>
            <p class="WhatWeDo-section-subtitle lead">In order to deliver awesome things, the most important thing for us is to have a clean services layer that smoothly exposes core functions and data.</p>
            <p class="WhatWeDo-section-description">The lack of stable, well structured API’s is often the primary blocker that slows our deliveries down. To speed things up, we have the right team with the right experience to help get the big I.T. picture sorted out. Keeping the enterprise architecture simple is usually the best way to go.</p>
          </div>
        </div>
        <div class="Grid-cell u-md-width1of2">
          <div class="Horizontal Horizontal--reverse"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="WhatWeDo-section WhatWeDo-section--dark">
    <div class="Container">
      <div class="Grid">
        <div class="Grid-cell u-md-width1of2">
          <div class="Vertical Vertical--right"></div>
          <div class="Horizontal">
            <figure class="WhatWeDo-section-graphic">
              <!-- image tag here -->
            </figure>
          </div>
          <div class="Vertical">
            <h2 class="WhatWeDo-section-title">Development</h2>
            <p class="WhatWeDo-section-subtitle lead">Blending enterprise software delivery experience with youthful smarts (and equal levels of enthusiasm). Responsive break-point. Single code base.</p>
            <p class="WhatWeDo-section-description">We tend to follow a more lean agile approach towards development, with particularly stringent controls in place for source code versioning, management and protection.</p>
          </div>
        </div>
        <div class="Grid-cell u-md-width1of2">
          <div class="JS_TODO u-mT-lg">IMAGE HERE</div>
        </div>
      </div>
    </div>
  </section>

  <section class="WhatWeDo-section">
    <div class="Container">
      <div class="Grid">
        <div class="Grid-cell u-width1of1">
          <div class="Vertical"></div>
          <div class="Horizontal Horizontal--reverse">
            <figure class="WhatWeDo-section-graphic">
              <!-- image tag here -->
            </figure>
          </div>
        </div>
        <div class="Grid-cell u-md-before1of3 u-md-width2of3">
          <div class="Vertical Vertical--right">
            <h2 class="WhatWeDo-section-title">Testing: Quality Management Approach</h2>
            <p class="WhatWeDo-section-subtitle lead">Our testers liaise directly between our designers, developers and client product managers to ensure that there is a direct correlation between what was designed (and expected), and what has been built.</p>
            <p class="WhatWeDo-section-description">UAT is undertaken continuously throughout the programme in line with our Agile delivery approach. This approach reduces the reliance on manual regression testing throughout the development and reduces the risk of issues being introduced into previously tested components as the software development progresses.</p>
          </div>
        </div>
        <div class="Grid-cell u-width1of1">
          <div class="Horizontal">
            <figure class="WhatWeDo-section-graphic">
              <!-- image tag here -->
            </figure>
          </div>
        </div>
        <div class="Grid-cell u-md-width2of3 u-md-after1of3">
          <div class="Vertical">
            <h2 class="WhatWeDo-section-title">Project Delivery</h2>
            <p class="WhatWeDo-section-subtitle lead">Delivering quality things is an everyday part of what we do.</p>
            <p class="WhatWeDo-section-description">We take huge pride in delivering robust, high quality, meticulously considered, designed and built mobile solutions that totally deliver on our promise.</p>
          </div>
        </div>
        <div class="Grid-cell u-md-width1of2 u-md-after1of2">
          <div class="Horizontal Horizontal--reverse">
            <figure class="WhatWeDo-section-graphic">
              <!-- image tag here -->
            </figure>
          </div>
        </div>
        <div class="Grid-cell u-md-before1of2 u-md-width1of2">        
          <div class="Vertical Vertical--end">
            <h2 class="WhatWeDo-section-title">Our clients</h2>
            <p class="WhatWeDo-section-subtitle lead u-mB-lg">We like to work with people who are passionate about what they do.</p>            
          </div>
        </div>
        
      </div>
    </div>
  </section>

</section>