// ============
// $INPUT
// ============

.Input {
  position: relative;
  input {
    background: $white;
    height: $input-height;
    display: block;
    appearance: none;
    padding-left: $h*2/3;
    padding-right: $h*2/3;
    outline: none;
    width: 100%;
    border-radius: $input-border-radius;
    box-shadow: inset 0 0 5px 0 rgba(173, 173, 173, 0.5);
    border: 1px solid $border;
    &::-webkit-input-placeholder { color: inherit; }
    &::-moz-placeholder { color: inherit; }
    &:-ms-input-placeholder { color: inherit; }
    &:-moz-placeholder { color: inherit; }
    &:focus {
      box-shadow: 0 0 0 1px $input-focus-color;
      border-color: $input-focus-color;
    }
  }

  // Error styles ============
  &.has-error {
    input {
      box-shadow: 0 0 0 1px $warning;
      border-color: $warning;
      padding-left: 40px;
      background-color: hsl(hue($warning), saturation($warning), 95%);
      &::-webkit-input-placeholder { color: $warning; }
      &::-moz-placeholder { color: $warning; }
      &:-ms-input-placeholder { color: $warning; }
      &:-moz-placeholder { color: $warning; }
    }

    &::before {
      @extend %icon !optional;
      // @extend .icon-circle-error:before !optional; // NOTE edit this name according to your icons
      position: absolute;
      left: $h/2;
      top: 10px;
      color: $warning;
      @include font-size(20px);
    }
  }
}


// ============
// Label
// ============
.Input-label {
  @extend .p !optional;
  display: block;
  margin-bottom: $v/4;
}


// ============
// Inline note
// ============
.Input-note {
  display: inline-block;
  align-self: center;
  margin-left: $h/2;
  flex-shrink: 0;
}

// Note modifiers ============
//
// .Input-note--icon {
//   @include font-size(24px);
//   color: $purple;
// }
//
// .Input-note--result {
//   display: flex;
//   align-items: center;
//   color: $purple;
//
//   [class*="icon"] {
//     @include font-size(20px);
//     margin-right: 8px;
//   }
// }
