// ============
// $SELECT BOX
// ============

// Usage:
// <div class="Select">
//   <select>
//     <option></option>
//   </select>
// </div>

.Select {
  position: relative;
  display: block;

  select {
    height: $input-height;
    appearance: none;
    background: $white;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    box-shadow: inset 0 0 5px 0 rgba(173, 173, 173, 0.5);
    border: solid 1px $grey-light;
    padding-left: $h/2;
    padding-right: $h*1.5; // affordance space
    outline: none;
    width: 100%;

    &:focus {
      box-shadow: 0 0 0 1px $input-focus-color;
      border-color: $input-focus-color;
    }
  }

  // Dropdown arrow ============
  &::before {
    pointer-events: none;
    position: absolute;
    content: '';
    top: 17px;
    border-top: 8px solid $input-focus-color;
    right: 12px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  // Hide the default arrow in IE ============
  select::-ms-expand {
    display: none;
  }

  // Error Styles ============
  &.has-error {
    select {
      box-shadow: 0 0 0 1px $error;
      border-color: $error;
      color: $error;
    }
    &::before {
      color: transparentize($error, .35);
    }
  }
}
