// ============
// $TEXTAREA
// ============

.Textarea {
  position: relative;
  padding-bottom: $v; // room on bottom for character count

  textarea {
    @extend %font-medium !optional;
    @include font-size($base-font-size);
    display: block;
    line-height: $base-line-height;
    width: 100%;
    resize: vertical;
    box-shadow: inset 0 0 5px 0 rgba(173, 173, 173, 0.5);
    border: solid 1px $border;
    padding: $v/2 $h/2;
    min-height: 100px;
    outline: none;
    border-radius: $input-border-radius;

    // Error Styles ============
    &.has-error {
      box-shadow: inset 0 0 5px 0 rgba($error, 0.5);
      border-color: $error;
      color: $error;
    }

    &:focus {
      box-shadow: 0 0 0 1px $input-focus-color;
      border-color: $input-focus-color;
    }
  }
}


// ============
// Character limit counter
// ============
// .Textarea-charCount {
//   @extend .small !optional;
//   line-height: $v;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   color: $grey-med;
//   user-select: none;
// }
