// COMMON FORM SHARED STYLES/VARIABLES

$input-border-radius:  3px;
$input-border-width:   2px;
$input-height:         $button-height;
$input-focus-color:    $active;
$input-inactive-color: transparentize($grey-med, .5);
